 function handleSliceMobile(mobile, isHandle) {
   if (!mobile) return '';
   if (isHandle)
     return mobile.slice(0, -5) + '*****';
   else {
     return mobile;
   }
 }

function commentTimeHandle(timeStamp) {

  var nowTime = Date.now(), //获取此时此刻日期的秒数
    diffValue = (nowTime - timeStamp) / 1000, // 获取此时 秒数 与 要处理的日期秒数 之间的差值
    diff_days = parseInt(diffValue / 86400), // 一天86400秒 获取相差的天数 取整
    diff_hours = parseInt(diffValue / 3600), // 一时3600秒
    diff_minutes = parseInt(diffValue / 60),
    diff_secodes = parseInt(diffValue);
  if (diff_days > 0) { //相差天数 0 < diff_days < 3 时, 直接返出
    return diff_days + "天前";
  } else if (diff_days <= 0 && diff_hours > 0) {
    return diff_hours + "小时前";
  } else if (diff_hours <= 0 && diff_minutes > 0) {
    return diff_minutes + "分钟前";
  } else {
    return "刚刚";
  }
}


function formatNumber (n) {
  n = n.toString()
  if(n[1])
  return n 
  else
  return '0' + n
}

/** 
 * 时间戳转化为年 月 日 时 分 秒 
 * number: 传入时间戳  customFormatTime(timeStamp,'M.D h:m' )
 * format：返回格式，支持自定义，但参数必须与formateArr里保持一致 
*/
function customFormatTime(number, format) {

  var formateArr = ['Y', 'M', 'D', 'h', 'm', 's'];
  var returnArr = [];

  var date = getDate(number);
  returnArr.push(date.getFullYear());
  returnArr.push(formatNumber(date.getMonth() + 1));
  returnArr.push(formatNumber(date.getDate()));
  returnArr.push(formatNumber(date.getHours()));
  returnArr.push(formatNumber(date.getMinutes()));
  returnArr.push(formatNumber(date.getSeconds()));
 for (var i = 0; i < returnArr.length; ++i) {
    format = format.replace(formateArr[i], returnArr[i]);
  }
  return format;
}


 module.exports = {
   formatNumber: formatNumber,
   customFormatTime: customFormatTime,
   commentTimeHandle: commentTimeHandle,
   handleSliceMobile: handleSliceMobile
 }